@import url('https://fonts.googleapis.com/css?family=Dosis|Itim');
body{
  margin: 0px auto;
  background: #02AAB0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Dosis', sans-serif;
}
.main__container{
  margin: 2em auto;
  width: 68%;
  height: 90vh;
  position: relative;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
}
.left__section{
  height: 90vh;
  flex: 1;
  background: #FFF;
  border-right: 1px solid #0000000d;
  transition: 0.8s all;
  border-radius: 5px 0px 0px 5px;
  min-width: 70px;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.left__section::-webkit-scrollbar {
    width: 0px;
}
.right__section{
  height: 90vh;
  flex: 3;
  background-color: rgb(247, 244, 244);
  position: relative;
  padding-left: 15px;
  background: #C9D6FF;
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  border-radius: 0px 0px 3px 0px;
}
.message__type__box{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0px 0px 3px 0px;
  border-top: 1px solid #E91E63;
}
.message__type__box > textarea{
  height: 55px;
  width: 100%;
  margin: 0px;
  padding: 10px 85px 5px 16px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 0px;
  background-color: #FFF;
  resize: none;
  float: left;
  box-shadow: none;
  line-height: 26px;
  font-family: 'Dosis', sans-serif;
}
.message__type__box > input{
    height: 55px;
  width: 100%;
  margin: 0px;
  padding: 10px 85px 5px 16px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 0px;
  background-color: #FFF;
  resize: none;
  float: left;
  box-shadow: none;
  line-height: 26px;
  font-family: 'Dosis', sans-serif;
}
.message__type__box > input:focus{
  border: 0px solid #fff;
  outline: none;
}
.message__type__box > textarea:focus{
  border: 0px solid #607D8B;
  outline: none;
}
.message__type__box > button{
  position: absolute;
  right: 10px;
  top: 9px;
  padding: 5px 25px;
  border: 1px solid #cccccc87;
  background: transparent;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Itim', cursive;
  color: #E91E63;
}
.openNav{
  display: none;
  cursor: pointer;
  float: right; 
  margin-right: 20px;
  margin-top: 10px;
}
.closeNav{
  display: block;
  cursor: pointer;
  float: right; 
  margin-right: 20px;
  margin-top: 10px;
}
.userList{
  padding-top:35px;
  padding-left: 15px;
  display: inline-grid;
}
.userList a{
  border-bottom: 1px solid #ff000012;
  float: left;
  padding: 8px 0px;
  font-family: 'Itim', cursive;
  cursor: pointer;
}
.userList img{
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}
.userList span{
  text-transform: capitalize;
  padding-top: 10px;
  float: left;
  color: #e91e63bd;
}
.message__box{
  height: 80vh;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.message__box::-webkit-scrollbar {
    width: 0px;
}
.msg__text{
  display: flex;
  padding-right: 12px;
    padding-top: 12px;
}
.msg__text img{
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.msg__text span{
  background-color: #fff;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 1px 10px 10px 15px;
  font-family: 'Dosis', sans-serif;
  box-shadow: 0px -4px 41px -12px rgba(0, 0, 0, 0.39);
  min-width: 185px;
}
.msg__text__right{
  display: flex;
  padding-right: 12px;
  padding-top: 12px;
  flex-flow: row-reverse;  	
}
.msg__text__right img{
  margin-left: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.msg__text__right span{
  background-color: #fbeaef;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 10px 1px 10px 15px;
  font-family: 'Dosis', sans-serif;
  box-shadow: 0px -4px 41px -12px rgba(0, 0, 0, 0.39);
  min-width: 185px;
}


/* Spinner */
.spinner {
  margin: 0;
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  background: rgba(0,0,0,1);
}
 
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}