import { initializeApp } from "firebase/app";
import { getAuth } from "firebase/auth";
import { getDatabase } from "firebase/database";


export const firebaseConfig = {
  apiKey: "YOUR_API_KEY",
  authDomain: "YOUR_FIREBASE_AUTH_DOMAIN",
  databaseURL: "",
  projectId: "",
  storageBucket: "",
  messagingSenderId: "",
  appId: "",
};


// Initialize Firebase
const app = initializeApp(firebaseConfig);

// Initialize Firebase services
const firebaseAuth = getAuth(app);
const firebaseDatabase = getDatabase(app);

// Export the services
export { firebaseAuth, firebaseDatabase };