.left__section {
  height: 80vh;
  transition: 0.8s all;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.right__section {
  height: 80vh;
  transition: 0.8s all;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px rgba(253, 186, 116, 0.7);
}
